@import url(./layout/navbar.css);
@import url(./layout/header.css);
@import url(./layout/content.css);
@import url(./components/icon.css);
@import url(./components/button.css);
@import url(./components/input.css);
@import url(./components/table.css);
@import url(./components/paging.css);
@import url(./components/dialog.css);
@import url(./components/notice.css);
@import url(./components/form.css);



body{
    margin: 0px;
    font-family: GoogleSands;
    font-size: 13px;

}

@font-face {
    font-family: GoogleSands;
    src: url("../assets/font/GoogleSans-Regular.otf");
}

@font-face {
    font-family: GoogleSands Bold;
    src: url("../assets/font/GoogleSans-Bold.otf");
}

@font-face {
    font-family: GoogleSands Italic;
    src: url("../assets/font/GoogleSans-Italic.otf");
}

.main{
    display: flex;
    width: 100%;
    height: calc(100vh - 48px);
}

.m-row{
    width: 100%;
    margin-top: 4px;
}

.m-loading{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: #0000004f;
}
.m-loading .m-loading-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #f3f3f3;
    border-top:  5px solid #3498db;

    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}