.m-icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: invert(1) grayscale(1) brightness(2);
}
.m-icon2 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.m-icon-dashboard {
    background-image: url(../../assets/icon/dashboard.png);
}

.m-icon-employee {
    background-image: url(../../assets/icon/dic-employee.png);
}
.m-icon-table {
    background-image: url(../../assets/icon/table.png);
}
.m-icon-ingredient {
    background-image: url(../../assets/icon/ingredient.png);
}
.m-icon-document {
    background-image: url(../../assets/icon/document-online.png);
}
.m-icon-food{
    background-image: url(../../assets/icon/food.png);
}
.m-icon-revenue{
    background-image: url(../../assets/icon/report.png);
}
.m-icon-bill{
    background-image: url(../../assets/icon/bill.png);
}
.m-icon-booktable{
    background-image: url(../../assets/icon/booktable.png);
}
.m-icon-stafforderonline{
    background-image: url(../../assets/icon/stafforderonline.png);
}
.m-icon-tableorder{
    background-image: url(../../assets/icon/tableorder.png);
}
.m-icon-booktableonline{
    background-image: url(../../assets/icon/booktableonline.png);
}
.m-icon-orderonline{
    background-image: url(../../assets/icon/orderonline.png);
}
.m-icon-setting {
    background-image: url(../../assets/icon/setting.png);
}
.m-icon-down{
    background-image: url(../../assets/icon/dropdown1.png);
}
.m-icon-dot2{
    background-image: url(../../assets/icon/threedots.png);
}

.m-icon16{
    width: 16px;
    height: 16px;

}

.m-icon-search{
    background-image: url(../../assets/icon/search.png);
}

#inputField {
    color: black; /* Màu chữ của văn bản nhập vào */
}

/* Định dạng cho placeholder */
#inputField::placeholder {
    color: #aea5a5; /* Màu mờ cho placeholder */
    opacity: 1; /* Đảm bảo rằng placeholder không bị làm mờ quá mức */
}
