:root {
    --navbar-width-expanded: 200px; /* Chiều rộng khi navbar mở rộng */
    --navbar-width-collapsed: 130px; /* Chiều rộng khi navbar thu hẹp */
}
.navbar{
    position: relative;
    width: 200px;
    height: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    border-right: 1px solid #bbb;
    background-color: #001833;
}
.navbar.collapsed {
    width: var(--navbar-width-collapsed);

}

.menu-item{
    margin-top: 18px ;
    margin-left: 12px;
    color: #fff;
    display: flex;
    height: 44px;
    width: 176px;
    border-radius: 4px;
    /*border-bottom: 1px solid #ccc;*/
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
}
.menu-item:hover{
    background-color: #003166;
}

.menu-item.menu-item-focus{
    /* background-color: #019160; */
    color: #fff;
}
.menu-item .menu-icon{
    margin-left: 16px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.toggle-button {
    font-size: 14px;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    color: #fff;
    border-top: 0.5px solid rgba(255, 255, 255, 0.2); /* Đường line cực nhạt và cực nhỏ bên trên chữ "Thu gọn" */
    display: flex;
    align-items: center;
    text-align: center;
}
.navbar.collapsed .menu-text {
    display: none; /* Ẩn text khi navbar thu hẹp */
}

